<h1>Eat-da-burger!</h1>

<h2>Eaten Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
        <h3>test</h3>
      {{!-- {{> burgers devoured=true}} --}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers waiting to be eaten</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
         <h3>test</h3>
      {{!-- {{> burgers devoured=false}} --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>